@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rakkas&display=swap');
@import url('http://dotsies.org/dotsies.css');

html {
    scroll-behavior: smooth;
}

body {
    visibility: visible !important;
}

#login {
    color: #403539;
    background-color: #dbc8ab;
    font-family: 'Cedarville Cursive', cursive;
}

#login-btn, #login-info {
    font-family: 'Spectral', serif;
}

#page-content {
    transition: 0.5s;
}

#header {
    transition: 0.5s;
}

#navbar {
    font-family: 'Rakkas', serif;
    font-size: 2.5rem;
    box-shadow: -10px 0 15px -10px #222222;
    scrollbar-width: none;
    transition: 0.5s;
    overflow-y: scroll;
}

div#navbar>div {
    word-wrap: none;
    white-space: nowrap;
    transition: 0.3s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 1.25rem;
}

div#navbar>div:hover {
    margin-left: 0.5rem;
}

div#nav-btn>span::before {
    font-size: 7.5rem;
}

div#nav-btn>span {
    transform: rotate(90deg);
}

input#login-username, input#login-password {
    font-size: 2.5rem;
}

button#login-btn {
    font-size: 3rem;
}

div#nav-bg {
    transition: 0.5s;
}

div#img-frame {
    border: 20px groove #3b210c;
    background-color: #3b210c;
    box-shadow: 0 0 20px 10px #222222;
    margin: 0 0 0 0;
    overflow: scroll;
    scrollbar-width: none;
}

div#img-frame>img {
    max-width: 100%;
    max-height: 100%;
}

div#zoom-in-btn {
    margin: 0 0 4rem 4rem;
}

div#zoom-in-btn>span::before {
    font-size: 5rem;
}

@media (min-width: 640px) {
    div#img-frame {
        margin: 0 10rem 0 10rem;
    }
    div#zoom-in-btn {
        margin: 0 0 4rem 14rem;
    }
}
