/*
    Font Imports 
*/

@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rakkas&display=swap');

/*
    Main and Body Styles
*/

html {
    background-color: #463e43;
    scroll-behavior: smooth;
}

body {
    margin: 3% 2% 5% 2%;
    font-family: 'Spectral', sans-serif;
    color: #2e1700;
}

main {
    padding: 4%;
    background-color: #f4f3e7;
    border: 1px solid #753b00;
    border-radius: 12px;
}


/*
    Lists
*/

ol {
    display: none;
}

ul {
    list-style-type: "➤";
    margin: 5% 0 5% 0;
    padding-right: 40px;
}

ul>li {
    margin: 5% 0 5% 0;
    padding: 1%;
    background-color: #d0e0e3ad;
    box-shadow: 0 0 20px 5px #d0e0e3;
    border-radius: 8px;
}

ol>li {
    list-style: none;
    color: white;
    padding-left: 40px;
    margin: 0 0 5% 0;
    font-size: 1.5rem;
}

ol>li>a,
ol>li>a:visited {
    color: white;
}


/*
    Heading and Paragraphs
*/

main>p {
    margin: 0 0 2% 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #753b00;
}

h1 {
    font-family: 'Rakkas', sans-serif;
    position: fixed;
    font-size: 3.5rem;
    font-weight: normal;
    background-color: #753b00;
    color: #ffe862;
    box-shadow: 0px 0px 15px 5px black;
    width: 100%;
    margin: 0;
    padding-left: 2%;
    top: 0;
    left: 0;
    right: 0;
}

h2 {
    font-family: 'Rakkas', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

blockquote {
    color: #7f858b;
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-left: 10%;
    margin-right: 10%;
}


/*
    Tables
*/

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 5% 0 2% 0;
    border-radius: 8px;
}

th {
    margin: 0 1% 0 1%;
    background-color: #d0e0e3;
    color: grey;
    border: 1px solid lightgrey;
    padding: 1%;
}

td {
    border: 1px solid lightgrey;
    padding: 1%;
}

tr:nth-child(2n) {
    background-color: #ebeef3;
}

tr:nth-child(2n+1) {
    background-color: #fff;
}


/*
    Links
*/

a {
    color: #337ab7;
    text-decoration: none;
}

a:visited {
    color: #204b70;
}


/*
    Mobile Display
*/

@media (min-width:1243px) {
    body {
        margin: 3% 30% 5% 30%;
    }
    ol {
        display: block;
        padding-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 25%;
    }
}