html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(156, 156, 156);
    font-family: Helvetica, sans-serif;
    color: rgb(68, 68, 68);
    margin: 0px;
}
.center-container {
    justify-content: center;
    background-color: white;
    padding: 2%;
    margin: 2% 10% 2% 10%;
    border-radius: 8px;
}
#name-title {
    font-size: 4em;
    text-align: center;
    padding: 1%;
    font-weight: bold;
}
.name-subtitle {
    color: rgb(133, 133, 133);
    font-size: 1em;
    text-align: center;
    padding: 1%;
    font-weight: bold;
}
.body-title {
    color: rgb(133, 133, 133);
    font-size: 40px;
    font-weight: bold;
    padding: 0 0 2% 0;
}
.body-text {
    color: rgb(97, 97, 97);
    font-size: 20px;
    padding: 1%;
    padding-left: 5%;
    margin: 0 0 0 2%;
    border: solid rgb(153, 153, 153);
    border-width: 0 0 0 5px;
}
a {
    text-decoration: none;
}
a:link {
    color: rgb(0, 255, 106);
}
a:visited {
    color: rgb(0, 172, 72);
}