<div id="login" class="flex items-center justify-center inset-0 fixed z-20">
    <div id="login-form" class="flex flex-col items-center justify-center">
        <div id="login-info" class="text-center text-red-700"></div>
        <input id="login-username" type="email" class="bg-transparent border-b-2 border-dashed border-yellow-900 mt-2" type="text" />
        <input id="login-password" type="password" class="bg-transparent border-b-2 border-dashed border-yellow-900 mt-2" type="text" />
        <button id="login-btn" class="bg-transparent bold italic p-2 mt-6 hover:text-red-900">Sign</button>
    </div>
</div>