<div id="navbar" class="flex flex-col w-full h-full bg-yellow-900 text-yellow-600 z-20">
    <div id="logout-btn" class="ml-3 p-3 pl-5 order-last border-l-8 border-double border-yellow-500 bg-yellow-900 hover:text-yellow-500 cursor-pointer">
        Logout
    </div>
</div>
<div id="nav-btn" class="text-center m-10 mt-auto mr-0 cursor-pointer text-red-800 z-20">
    <span class="glyphicon glyphicon-bookmark"></span>
</div>
<div id="nav-bg" class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-25 z-10">
</div>
